/* .team-area {
    display: flex;
    flex-wrap: wrap;
    padding: 10 px;
    border-spacing: 3px;
}  */

.card-header {
    color: white;
    background-color: blue;
    padding: 20px;
}

.card-body {
    margin: 20px;
}
.card {
     display:flex; 
     align-items:space-between; 
     justify-content:space-between; 
     border: solid 1px black;
     flex-wrap: auto; 
}   
.jumbotron {
    background-color:blue;
    color: white;
}